@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetWorldOficial.Domain.Enums
@using PetworldOficial.MVC.Utils
@model PetWorldOficial.Application.Commands.User.UpdateUserCommand

@{
    ViewData["Title"] = "Alterar Usuário";
    Layout = "_Layout";
}

<div class="container-fluid py-3">
    <br>
    <h1 class="text-center">
        Dados do Usuário
    </h1>
    <br>
</div>


<form class="row g-3 d-flex justify-content-center align-items-center" asp-controller="User" asp-action="Update" method="post">
    <div class="col-md-10">
        <label>
            <h5 class="fw-normal">Dados Pessoais</h5>
        </label>
    </div>
    <input type="hidden" asp-for="@Model.Id">
    @* <input type="hidden" asp-for="@Model.UserName"> *@
    <input type="hidden" asp-for="@Model.Gender">

    <div class="col-md-10">
        <label asp-for="Name" class="form-label">Nome <span style="color: red;">*</span></label>
        <input asp-for="Name" type="text" class="form-control shadow-none" placeholder="Nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-md-7">
        <label asp-for="Document" class="form-label">CPF <span style="color: red;">*</span></label>
        <input asp-for="Document" type="text" class="form-control shadow-none">
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="BirthDate" class="form-label">Nascimento <span style="color: red;">*</span></label>
        <input asp-for="BirthDate" type="date" class="form-control shadow-none">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="col-md-10">
        <label asp-for="@Model.RoleName" class="form-label">Perfil <span style="color: red;">*</span></label>
        <select asp-for="@Model.RoleName" class="form-select shadow-none">
            <option value="" selected disabled>Selecione o perfil</option>
            @foreach (ERole role in Enum.GetValues(typeof(ERole)))
            {
                <option value="@role">@role.GetDisplayName()</option>
            }
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="col-md-10">
        <label asp-for="Email" class="form-label">E-mail <span style="color: red;">*</span></label>
        <input asp-for="Email" type="email" class="form-control shadow-none" placeholder="email@exemplo.com">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-md-10">
        <label asp-for="PhoneNumber" class="form-label">Telefone <span style="color: red;">*</span></label>
        <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="col-md-10">
        <label>
            <br>
            <h5 class="fw-normal">Endereço</h5>
        </label>
    </div>

    <div class="col-md-7">
        <label asp-for="Street" class="form-label">Rua <span style="color: red;">*</span></label>
        <input asp-for="Street" type="text" class="form-control shadow-none">
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="Number" class="form-label">Número <span style="color: red;">*</span></label>
        <input asp-for="Number" type="number" class="form-control shadow-none">
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="col-md-10">
        <label asp-for="Complement" class="form-label">Complemento</label>
        <input asp-for="Complement" type="text" class="form-control shadow-none">
        <span asp-validation-for="Complement" class="text-danger"></span>
    </div>

    <div class="col-md-5">
        <label asp-for="PostalCode" class="form-label">Cep <span style="color: red;">*</span></label>
        <input asp-for="PostalCode" type="text" class="form-control shadow-none">
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="col-md-5">
        <label asp-for="Neighborhood"class="form-label">Bairro <span style="color: red;">*</span></label>
        <input asp-for="Neighborhood" type="text" class="form-control shadow-none">
        <span asp-validation-for="Neighborhood" class="text-danger"></span>
    </div>

    <div class="col-md-5">
        <label asp-for="City" class="form-label shadow-none">Cidade <span style="color: red;">*</span></label>
        <input asp-for="City" type="text" class="form-control shadow-none">
        <span asp-validation-for="City" class="text-danger"></span>
        <br>
    </div>

    <div class="col-md-5">
        <label asp-for="State" class="form-label">Estado <span style="color: red;">*</span></label>
        <input asp-for="State" type="text" class="form-control shadow-none">
        <span asp-validation-for="State" class="text-danger"></span>
        <br>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-grid col-3 " style="padding-left: 20px">
            <button class="btn btn-dark btn-lg" type="submit">Alterar</button>
        </div>
    </div>
</form>