@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetWorldOficial.Domain.Enums
@using PetworldOficial.MVC.Utils
@model PetWorldOficial.Application.Commands.Animal.DeleteAnimalCommand

@{
    ViewData["Title"] = "Deletar Pet";
    Layout = "_Layout";
    var gender = (EGender)Enum.Parse(typeof(EGender), Model.Gender);
}

<div class="container-fluid text-black py-3">
    <br>
    <h2 class="display-6 text-center fw">
        <img src="/Images/DadosDoPet.png" alt="">
    </h2>
    <br>
</div>

<div class="container">
    <br>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-8 alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
                <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else if (TempData["SuccessMessage"] != null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-8 alert alert-success" role="alert">
                @TempData["SuccessMessage"]
                <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <form class="row g-3 d-flex justify-content-center align-items-center" enctype="multipart/form-data" asp-controller="Animal" asp-action="Delete" method="post">
        <input type="hidden" asp-for="@Model.Id">
        <input type="hidden" asp-for="@Model.UserId">
        <input type="hidden" asp-for="@Model.CategoryId">
        <input type="hidden" asp-for="@Model.RaceId">
        <input type="hidden" asp-for="@Model.Gender" value="@Model.Gender"/>

        <div class="col-md-6">
            <label asp-for="@Model.Name" class="form-label">Nome</label>
            <input asp-for="@Model.Name" type="text" class="form-control shadow-none" placeholder="Nome" readonly>
        </div>

        <div class="col-md-2">
            <label asp-for="Gender" class="form-label">Gênero</label>
            <input type="text" class="form-control shadow-none" placeholder="Descrição" value="@gender.GetDisplayName()" readonly/>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.RaceName" class="form-label">Raça</label>
            <input asp-for="@Model.RaceName" type="text" class="form-control shadow-none" placeholder="Nome" readonly>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.CategoryName" class="form-label">Categoria</label>
            <input asp-for="@Model.CategoryName" type="text" class="form-control shadow-none" placeholder="Nome" readonly>
        </div>

        <div class="d-grid gap-2 col-4 mx-auto col-md-5">
            <br>
            <button class="btn btn-dark btn-lg" type="submit">Deletar</button>
        </div>
    </form>
</div>