@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PetWorldOficial.Application.ViewModels.Supplier.SupplierDetailsViewModel?>

@{
    ViewData["Title"] = "Fornecedores";
    Layout = "_Layout";
}

<div class="container-fluid py-3">
    <br>
    <h1 class="text-center">
        Lista de Fornecedores
    </h1>
    <br>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (Model is not null && Model.Count() != 0)
{
    <section class="my-5">
        <!-- Campo de pesquisa -->
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6 d-flex justify-content-start">
                    <a class="btn btn-dark fw-normal shadow-none" asp-controller="Supplier" asp-action="Register">
                        <img style="width: 25px" src="/Images/addition.svg" alt=""> Novo Fornecedor
                    </a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar fornecedores..."
                               aria-label="Pesquisar fornecedores" aria-describedby="search-addon" oninput="searchSupplier()">
                        <span class="input-group-text" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="supplierContainer">
                <div class="col-lg-12">
                    @foreach (var supplier in Model)
                    {
                        <div class="card cart-card mb-3 supplier-card">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div class="d-flex">
                                    <img
                                        src="/Images/supplier_7988637.png"
                                        alt="Imagem fornecedor"
                                        class="img-fluid me-4"
                                        style="width: 150px; height: 150px; object-fit: cover; border-radius: 5px;"/>
                                    <div>
                                        <h5 class="card-title supplier-name">@supplier!.Id - @supplier.Name</h5>
                                        <p class="card-text">
                                            <strong>Telefone:</strong> @supplier.CellPhone
                                        </p>
                                        <p class="card-text">
                                            <strong>Email:</strong> <span class="supplier-email">@supplier.Email</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="@Url.Action("Update", "Supplier", new { id = supplier.Id })"
                                       class="btn btn-warning mb-2 d-flex align-items-center justify-content-center"
                                       style="border-radius: 10px;">
                                        <i class="fas fa-edit me-2"></i> Editar
                                    </a>
                                    <a href="@Url.Action("Delete", "Supplier", new { id = supplier.Id })"
                                       class="btn btn-danger d-flex align-items-center justify-content-center"
                                       style="border-radius: 10px;">
                                        <i class="fas fa-trash me-2"></i> Deletar
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="container-fluid text-black py-3">
        <br>
        <h2 class="text-center text-muted" style="font-size: 23px; font-weight: normal;">
            @TempData["NotFoundSupplier"]
        </h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <br>
        <a class="btn btn-dark fw-normal shadow-none" asp-controller="Supplier" asp-action="Register">
            Novo Fornecedor
        </a>
    </div>
}

<script>
    function searchSupplier() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toLowerCase();
        var supplierContainer = document.getElementById("supplierContainer");
        var supplierCards = supplierContainer.getElementsByClassName("supplier-card");

        for (var i = 0; i < supplierCards.length; i++) {
            var supplierName = supplierCards[i].getElementsByClassName("supplier-name")[0];
            var supplierEmail = supplierCards[i].getElementsByClassName("supplier-email")[0];
            if (supplierName || supplierEmail) {
                var nameText = supplierName.textContent || supplierName.innerText;
                var emailText = supplierEmail.textContent || supplierEmail.innerText;
                if (nameText.toLowerCase().indexOf(filter) > -1 || emailText.toLowerCase().indexOf(filter) > -1) {
                    supplierCards[i].style.display = "";
                } else {
                    supplierCards[i].style.display = "none";
                }
            }
        }
    }
</script>