@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetWorldOficial.Application.Commands.Service
@model UpdateServiceCommand

@{
    ViewData["Title"] = "Atualizar Serviço";
    Layout = "_Layout";
}

<div class="container-fluid tpy-3">
    <br>
    <h1 class="text-center">
        Dados do Serviço
    </h1>
    <br>
</div>

<div class="d-flex justify-content-center align-items-center">
    <img style="width: min-content; height: 250px; object-fit: cover; border-radius: 5px" src="\Images/@Model.ImageUrl" alt="Imagem do Produto">
</div>

<div class="container">
    <br>
    <br>
    <form class="row g-3 d-flex justify-content-center align-items-center" enctype="multipart/form-data" asp-controller="Service" asp-action="Update" method="post">

        <input type="hidden" asp-for="ImageUrl">
        <input type="hidden" asp-for="CategoryId">

        <div class="col-md-8">
            <label asp-for="@Model.Name" class="form-label">Nome<span style="color: red;">*</span></label>
            <input asp-for="@Model.Name" type="text" class="form-control shadow-none" placeholder="Digite o nome">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="col-md-8">
            <label asp-for="@Model.Price" class="form-label">Preço<span style="color: red;">*</span></label>
            <input asp-for="@Model.Price" type="number" min="0" step="0.1" class="form-control shadow-none" placeholder="Digite o preço">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.DurationInMinutes" class="form-label">Duração em minutos <span style="color: red;">*</span></label>
            <input asp-for="@Model.DurationInMinutes" type="number" min="0" class="form-control shadow-none" placeholder="Digite o preço">
            <span asp-validation-for="@Model.DurationInMinutes" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.CategoryId" class="form-label">Categoria <span style="color: red;">*</span></label>
            <select asp-for="@Model.CategoryId" class="form-select shadow-none">
                <option value="@Model.CategoryId" selected disabled>@Model.Category!.Title</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Title</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label class="form-label">Imagem<span style="color: red;">*</span></label>
            <input type="file" class="form-control shadow-none" name="file" placeholder="Escolha uma imagem">
        </div>
        <div class="d-grid gap-2 col-4 mx-auto col-md-5">
            <br>
            <button class="btn btn-dark btn-lg" type="submit">Alterar</button>
        </div>
    </form>
</div>