@using PetWorldOficial.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PetWorldOficial.Application.ViewModels.Product.ProductDetailsViewModel>

@{
    ViewData["Title"] = "Produtos";
    Layout = "_Layout";
}

<div class="container-fluid py-3">
    <br>
    <h1 class="text-center">
        Produtos
    </h1>
    <br>
</div>


@if (TempData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}

@if (Model != null && Model.Any())
{
    if (User.IsInRole(ERole.Admin.ToString()))
    {
        <section class="my-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-6 d-flex justify-content-start">
                        <a class="btn btn-dark fw-normal shadow-none" asp-controller="Product" asp-action="Create">
                            <img style="width: 25px" src="/Images/addition.svg" alt=""> Novo Produto
                        </a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <input type="text" class="form-control" id="productSearch" class="form-control" placeholder="Buscar produtos...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="productList">
                        @foreach (var product in Model)
                        {
                            <div class="card cart-card mb-3 product-item">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <img
                                            src="/Images/@product!.ImageUrl"
                                            alt="Produto"
                                            class="img-fluid me-4"
                                            style=" width: 150px; height: 150px; object-fit: scale-down"/>
                                        <div>
                                            <h5 class="card-title">@product.Id - @product.Name</h5>
                                            <br>
                                            <div style="font-size: 0.875rem;">
                                                <p class="card-text">
                                                    <strong>Descrição:</strong> @product.Description
                                                </p>
                                                <p class="card-text">
                                                    <strong>Categoria:</strong> @product.CategoryName
                                                </p>
                                                <p class="card-text">
                                                    <strong>Fornecedor:</strong> @product.SupplierName
                                                </p>
                                                <p>
                                                    <strong>Quantidade em estoque:</strong> @product.Stock.Quantity
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="@Url.Action("Update", "Product", new { id = product.Id })"
                                           class="btn btn-warning mb-2">
                                            Editar
                                        </a>
                                        <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger">Deletar</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-end">
                    <input type="text" class="form-control" id="productSearch" class="form-control" placeholder="Buscar produtos...">
                </div>
            </div>
            <br>
        </div>
        <div class="container" id="productList">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-3 mb-3 product-item">
                        <div class="card h-100">
                            <!-- Adicionei 'text-center' para centralizar o conteúdo -->
                            <img src="/Images/@product.ImageUrl" class="card-img-top" alt="Produto"
                                 style="height: 200px; object-fit: contain; width: 100%; margin-top: 10px;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title">@product.Name</h5>
                                <br>
                                <p>
                                    <b>Valor:</b> @product.Price.ToString("C")
                                </p>
                                <div class="d-grid gap-2 mt-auto">
                                    <!-- Ajuste para centralizar e expandir o botão -->
                                    <button class="btn btn-dark add-to-cart" data-product-id="@product.Id">Adicionar ao carrinho</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <div class="container-fluid text-black py-3">
        <br>
        <h2 class="text-center text-muted" style="font-size: 23px; font-weight: normal;">
            @TempData["ProductNotFound"]
        </h2>
        <br>
        @if (User.IsInRole(ERole.Admin.ToString()))
        {
            <div class="d-flex justify-content-center align-items-center">
                <a class="btn btn-dark fw-normal shadow-none" asp-controller="Product" asp-action="Create">
                    Adicionar Produto
                </a>
            </div>
        }
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Filtro de pesquisa
        $('#productSearch').on('input', function() {
            var searchQuery = $(this).val().toLowerCase();
            $('.product-item').each(function() {
                var productName = $(this).find('.card-title').text().toLowerCase();
                if (productName.includes(searchQuery)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        // Adicionar ao carrinho
        $('.add-to-cart').on('click', function(e) {
            e.preventDefault();
            var productId = $(this).data('product-id');

            $.ajax({
                url: '/Cart/AddItem',
                type: 'POST',
                data: { productId: productId },
                success: function(response) {
                    alert("Produto adicionado ao carrinho!");
                },
                error: function() {
                    alert("Houve um erro ao adicionar o produto ao carrinho.");
                }
            });
        });
    });
</script>