@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PetWorldOficial.Application.Commands.Schedule.CreateScheduleCommand

@{
    ViewData["Title"] = "Agendar";
    Layout = "_Layout";
}

<div class="container-fluid text-black py-3">
    <br>
    <h2 class="display-6 text-center fw">
        <img src="/Images/agendamentoDeServicos.png" alt="">
    </h2>
    <br>
</div>

@if (!Model.Animals!.Any())
{
    <div class="modal d-flex justify-content-center align-items-center" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="animalModalLabel">Informação Importante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você não possui um pet registrado! Para registrar um pet clique em continuar.</p>
                </div>
                <div class="modal-footer">
                    <a asp-controller="Service" asp-action="Index" class="btn btn-secondary shadow-none">Voltar</a>
                    <a asp-controller="Animal" asp-action="Register" class="btn btn-primary shadow-none">Continuar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const modal = new bootstrap.Modal(document.getElementById('animalModal'));
            modal.show();
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-8 alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-8 alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div class="container">
    <form class="row g-3 d-flex justify-content-center align-items-center" asp-controller="Schedule" asp-action="Create" method="post">
        <input type="hidden" asp-for="@Model.ServiceId" value="@Model.ServiceId">
        <input type="hidden" asp-for="@Model.ServicePrice" value="@Model.ServicePrice">
        <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId">
        <input type="hidden" id="durationInMinutes" asp-for="@Model.DurationInMinutes" value="@Model.DurationInMinutes">
        <input type="hidden" id="categoryName" asp-for="@Model.CategoryName" value="@Model.CategoryName">


        <div class="col-md-4">
            <label asp-for="@Model.Date" class="form-label">Data <span style="color: red;">*</span></label>
            <input asp-for="@Model.Date" id="date" class="form-control shadow-none" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")"
                   min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(20).ToString("yyyy-MM-dd")" asp-format="{0:dd/mm/aaaa}">
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="@Model.Time" class="form-label">Horário <span style="color: red;">*</span></label>
            <select asp-for="@Model.Time" id="time" class="form-select shadow-none">
                <option value="" selected disabled>Selecione um horário</option>
                <!-- Horários disponíveis serão preenchidos aqui via AJAX -->
            </select>
            <span asp-validation-for="@Model.Time" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.AnimalId" class="form-label">Pets<span style="color: red;">*</span></label>
            <select asp-for="@Model.AnimalId" class="form-select shadow-none">
                <option value="" selected disabled>Selecione um pet</option>
                @foreach (var animal in Model.Animals!)
                {
                    <option value="@animal!.Id">@animal.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.AnimalId" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.ServiceName" class="form-label">Serviço <span style="color: red;">*</span></label>
            <input asp-for="@Model.ServiceName" id="serviceName" class="form-control shadow-none" type="text" readonly>
            <span asp-validation-for="@Model.ServiceName" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.ServicePrice" class="form-label">Preço <span style="color: red;">*</span></label>
            <input asp-for="@Model.ServicePrice" class="form-control shadow-none" type="text" value="@Model.ServicePrice.ToString("C")" readonly>
            <span asp-validation-for="@Model.ServicePrice" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.DurationInMinutes" class="form-label">Duração em minutos <span style="color: red;">*</span></label>
            <input asp-for="@Model.DurationInMinutes" class="form-control shadow-none" type="text" value="@Model.DurationInMinutes" readonly>
            <span asp-validation-for="@Model.DurationInMinutes" class="text-danger"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="@Model.Observation" class="form-label">Observação</label>
            <textarea asp-for="@Model.Observation" class="form-control shadow-none" placeholder="Escreva uma observação" style="height: 100px"></textarea>
            <span asp-validation-for="@Model.Observation" class="text-danger"></span>
        </div>

        <div class="col-md-5 d-grid gap-2 col-4 mx-auto">
            <br>
            <button class="btn btn-dark btn-lg shadow-none" type="submit">Agendar</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function fetchAvailableTimes() {
            var selectedDate = $('#date').val();
            var durationInMinutes = $('#durationInMinutes').val();
            var serviceName = $('#serviceName').val();
            var categoryName = $('#categoryName').val();
            
            if (selectedDate) {
                $.ajax({
                    url: '@Url.Action("GetAvailableTimes", "Schedule")',
                    type: 'GET',
                    data: { 
                        date: selectedDate,
                        durationInMinutes: durationInMinutes,
                        serviceName: serviceName,
                        categoryName: categoryName
                    },
                    success: function (data) {
                        var timeSelect = $('#time');
                        timeSelect.empty(); // Limpa os horários atuais
                        timeSelect.append('<option value="" selected disabled>Selecione um horário</option>');
                        $.each(data, function (index, value) {
                            timeSelect.append('<option value="' + value + '">' + value + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Erro ao buscar horários disponíveis:', error);
                    }
                });
            }
        }

        // Chama a função para buscar os horários ao carregar a página
        fetchAvailableTimes();

        // Reexecuta a função ao alterar a data
        $('#date').change(function () {
            fetchAvailableTimes();
        });
    });
</script>


<footer>

</footer>