@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetWorldOficial.Domain.Enums
@using PetworldOficial.MVC.Utils
@model IEnumerable<PetWorldOficial.Application.ViewModels.Schedule.ScheduleDetailsViewModel>

@{
    ViewData["Title"] = "Agendamentos";
    Layout = "_Layout";
}

@if (User.IsInRole("Admin"))
{
    <div class="container-fluid py-3">
        <br>
        <h1 class="text-center">Agendamentos</h1>
        <br>
    </div>
}
else
{
    <div class="container-fluid py-3">
        <br>
        <h1 class="text-center">
            Meus Agendamentos
        </h1>
        <br>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}


<!-- Seção de Agendamentos -->
@if (Model != null && Model.Any())
{
    if (!User.IsInRole(ERole.Admin.ToString()))
    {
        <section class="my-5">
            <!-- Filtro de Pesquisa -->
            <div class="container">
                <div class="row mb-3">
                    @* <div class="col-md-6 d-flex justify-content-start"> *@
                    @*     <a class="btn btn-dark fw-normal shadow-none" asp-controller="Service" asp-action="Index"> *@
                    @*         <img style="width: 25px" src="/Images/addition.svg" alt=""> Novo Agendamento *@
                    @*     </a> *@
                    @* </div> *@
                    <div class="col-md-12 d-flex justify-content-end">
                        <input type="text" class="form-control" id="searchInput"
                               placeholder="Pesquisar por nome de animal, serviço ou data..." onkeyup="searchScheduling()">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="scheduleContainer">
                    <!-- Coluna de agendamentos -->
                    <div class="col-lg-8">
                        <!-- Exibição dos agendamentos em cards -->
                        @foreach (var schedule in Model)
                        {
                            <div class="card cart-card mb-3 schedule-card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        @if (string.IsNullOrEmpty(schedule.Animal.ImageUrl))
                                        {
                                            <img src="/Images/PetImage.jpg" alt="Animal" class="img-fluid me-4"
                                                 style="width: 100px; object-fit: cover"/>
                                        }
                                        else
                                        {
                                            <img src="/Images/@schedule.Animal.ImageUrl" alt="Animal" class="img-fluid me-4"
                                                 style="width: 100px; object-fit: cover"/>
                                        }
                                        <div>
                                            <h5 class="card-title">@schedule.Id - @schedule.Animal.Name</h5>
                                            <p class="card-text">
                                                <strong>Serviço:</strong> @schedule.Service.Name
                                            </p>
                                            <p>
                                                <strong>Data:</strong> @schedule.Date.ToString("dd-MM-yyyy")
                                            </p>
                                            <p>
                                                <strong>Horário:</strong> @schedule.Time.ToString(@"hh\:mm")
                                            </p>
                                            <p>
                                                <strong>Duração:</strong> @schedule.Service.DurationInMinutes minutos
                                            </p>
                                            <p>
                                                <strong>Status:</strong>
                                                @(Enum.Parse<ESchedullingStatus>(schedule.Status).GetDisplayName())
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <!-- Botões de editar e cancelar -->
                                        <a href="@Url.Action("Update", "Schedule", new { id = schedule.Id })"
                                           class="btn btn-warning mb-2">
                                            Editar
                                        </a>
                                        <a href="@Url.Action("Cancel", "Schedule", new { id = schedule.Id })"
                                           class="btn btn-danger">
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Coluna de resumo do agendamento -->
                    <div class="col-lg-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title">Resumo dos Agendamentos</h4>
                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total de Agendamentos</span>
                                        <strong>@Model.Count()</strong>
                                    </li>
                                </ul>
                                <a asp-action="Index" asp-controller="Service" class="btn btn-success btn-block">
                                    Agendar Novo
                                    Serviço
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="my-5">
            <!-- Filtro de Pesquisa -->
            <div class="container">
                <div class="row mb-3">
                    @* <div class="col-md-6 d-flex justify-content-start"> *@
                    @*     <a class="btn btn-dark fw-normal shadow-none" asp-controller="Service" asp-action="Index"> *@
                    @*         <img style="width: 25px" src="/Images/addition.svg" alt=""> Novo Agendamento *@
                    @*     </a> *@
                    @* </div> *@
                    <div class="col-md-12 d-flex justify-content-end">
                        <input type="text" class="form-control" id="searchInput"
                               placeholder="Pesquisar por nome de animal, serviço ou data..." onkeyup="searchScheduling()">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="scheduleContainer">
                    <div class="col-lg-12">

                        @foreach (var schedule in Model)
                        {
                            <div class="card cart-card mb-3 schedule-card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        @if (string.IsNullOrEmpty(schedule.Animal.ImageUrl))
                                        {
                                            <img src="/Images/PetImage.jpg" alt="Animal" class="img-fluid me-4"
                                                 style="width: 100px; object-fit: cover"/>
                                        }
                                        else
                                        {
                                            <img src="/Images/@schedule.Animal.ImageUrl" alt="Animal" class="img-fluid me-4"
                                                 style="width: 100px; object-fit: cover"/>
                                        }

                                        <div>
                                            <h5 class="card-title">@schedule.Id - @schedule.Animal.Name</h5>
                                            <p class="card-text">
                                                <strong>Serviço:</strong> @schedule.Service.Name
                                            </p>
                                            <p class="card-text">
                                                <strong>Funcionário:</strong> @schedule.Employee.Name
                                            </p>
                                            <p>
                                                <strong>Data:</strong> @schedule.Date.ToString("dd/MM/yyyy")
                                            </p>
                                            <p>
                                                <strong>Horário:</strong> @schedule.Time.ToString(@"hh\:mm")
                                            </p>
                                            <p>
                                                <strong>Duração:</strong> @schedule.Service.DurationInMinutes minutos
                                            </p>
                                            <p>
                                                <strong>Status:</strong>
                                                @(Enum.Parse<ESchedullingStatus>(schedule.Status).GetDisplayName())
                                            </p>
                                        </div>
                                    </div>

                                    @if (schedule.Status == ESchedullingStatus.Pending.ToString())
                                    {
                                        <div class="d-flex flex-column">
                                            <a href="@Url.Action("Update", "Schedule", new { id = schedule.Id })"
                                               class="btn btn-outline-warning mb-2 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-pencil me-2"></i> Editar
                                            </a>
                                            <a href="@Url.Action("Finish", "Schedule", new { code = schedule.Code })"
                                               class="btn btn-outline-success mb-2 d-flex align-items-center justify-content-center">
                                                <i class="bi bi-check-circle me-2"></i> Finalizar
                                            </a>
                                            <a href="@Url.Action("Cancel", "Schedule", new { code = schedule.Code })"
                                               class="btn btn-outline-danger d-flex align-items-center justify-content-center">
                                                <i class="bi bi-x-circle me-2"></i> Cancelar
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
}
else
{
    <div class="container-fluid text-black py-3">
        <h2 class="text-center text-muted" style="font-size: 23px; font-weight: normal;">
            @TempData["NotFoundScheduling"]
        </h2>
    </div>
}

<script>
    function searchScheduling() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toLowerCase();
        var scheduleContainer = document.getElementById("scheduleContainer");
        var scheduleCards = scheduleContainer.getElementsByClassName("schedule-card");

        for (var i = 0; i < scheduleCards.length; i++) {
            var animalName = scheduleCards[i].getElementsByClassName("card-title")[0];
            var serviceName = scheduleCards[i].getElementsByClassName("card-text")[0];
            var employeeName = scheduleCards[i].getElementsByClassName("card-text")[1];

            if (animalName || serviceName || employeeName) {
                var nameText = animalName.textContent || animalName.innerText;
                var serviceText = serviceName.textContent || serviceName.innerText;
                var employeeText = employeeName.textContent || employeeName.innerText;

                // Aplica o filtro apenas para nome do animal, nome do serviço e nome do funcionário
                if (nameText.toLowerCase().indexOf(filter) > -1 || serviceText.toLowerCase().indexOf(filter) > -1 || employeeText.toLowerCase().indexOf(filter) > -1) {
                    scheduleCards[i].style.display = "";
                } else {
                    scheduleCards[i].style.display = "none";
                }
            }
        }
    }
</script>