@model IEnumerable<ScheduleDatailsViewModel>

@{
    ViewData["Title"] = "Agendamentos";
    Layout = "_Layout";
}

@if (User.IsInRole("Admin"))
{
    <div class="container-fluid text-black py-3">
        <br>
        <h1 class="display-6 text-center fw-normal">Agendamentos</h1>
        <br>
    </div>
}
else
{
    <div class="container-fluid text-black py-3">
        <br>
        <h1 class="display-6 text-center fw-normal"><img src="/Images/MeusAgendamentos.png" alt=""></h1>
        <br>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (Model.Any())
{
    <table class="table-dark table table-hover">
        <thead>
        <tr>
            <th style="text-align: center;">Pet</th>
            <th style="text-align: center;">Serviço</th>
            <th style="text-align: center;">Data</th>
            <th style="text-align: center;">Horário</th>
            @if (User.IsInRole("Admin"))
            {
                <th style="text-align: center;">Ações</th>
            }
            <th style="text-align: center;">Ação</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td style="text-align: center;">@schedule.Animal.Name</td>
                <td style="text-align: center;">@schedule.Service.Name</td>
                <td style="text-align: center;">@schedule.Date.ToString("dd-MM-yyyy")</td>
                <td style="text-align: center;">@schedule.Time.ToString(@"hh\:mm")</td>
                <td style="text-align: center;">
                    <a class="text-decoration-none" asp-controller="Schedule" asp-action="Update" asp-route-id="@schedule.Id">
                        <img style="width: 45px; cursor: pointer" src="\Images/Edit.svg" alt="Edit">
                    </a>
                    <a class="text-decoration-none" asp-controller="Schedule" asp-action="Delete" asp-route-id="@schedule.Id">
                        <img style="width: 35px; cursor: pointer" src="\Images/trash2.svg" alt="Delete">
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="container-fluid text-black py-3">
        <br>
        <h2 class="display-6 text-center fw">Você não possui nenhum agendamento!</h2>
    </div>
}