@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetWorldOficial.Application.Extensions
@using PetWorldOficial.Domain.Enums
@using PetworldOficial.MVC.Utils
@model IEnumerable<PetWorldOficial.Application.ViewModels.Schedule.ScheduleDetailsViewModel>

@{
    ViewData["Title"] = "Agendamentos";
    Layout = "_Layout";
}

@if (User.IsInRole("Admin"))
{
    <div class="container-fluid py-3">
        <br>
        <h1 class="text-center">Lista de Agendamentos</h1>
        <br>
    </div>
}
else
{
    <div class="container-fluid py-3">
        <br>
        <h1 class="text-center">
            Meus Agendamentos
        </h1>
        <br>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 alert alert-success" role="alert">
            @TempData["SuccessMessage"]
            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
}


<!-- Seção de Agendamentos -->
@if (Model != null && Model.Any())
{
    if (!User.IsInRole(ERole.Admin.ToString()))
    {
        <section class="my-5">
            <!-- Filtro de Pesquisa -->
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="input-group">
                            <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar agendamentos..."
                                   aria-label="Pesquisar agendamentos" aria-describedby="search-addon" oninput="searchScheduling()">
                            <span class="input-group-text" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="scheduleContainer">
                    <!-- Coluna de agendamentos -->
                    <div class="col-lg-12">
                        <!-- Exibição dos agendamentos em cards -->
                        @foreach (var schedule in Model)
                        {
                            <div class="card cart-card mb-3 schedule-card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        @if (string.IsNullOrEmpty(schedule.Animal.ImageUrl))
                                        {
                                            <img src="/Images/PetImage.jpg" alt="Animal" class="img-fluid me-4"
                                                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 5px"/>
                                        }
                                        else
                                        {
                                            <img src="/Images/@schedule.Animal.ImageUrl" alt="Animal" class="img-fluid me-4"
                                                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 5px"/>
                                        }
                                        <div>
                                            <h5 class="card-title">@schedule.Id - @schedule.Animal.Name</h5>
                                            <p class="card-text">
                                                <strong>Serviço:</strong> @schedule.Service.Name
                                            </p>
                                            <p class="card-text">
                                                <strong>Funcionário:</strong> @schedule.Employee.Name
                                            </p>
                                            <p>
                                                <strong>Data:</strong> @schedule.Date.ToString("dd-MM-yyyy")
                                            </p>
                                            <p>
                                                <strong>Horário:</strong> @schedule.Time.ToString(@"hh\:mm")
                                            </p>
                                            <p>
                                                <strong>Duração:</strong> @schedule.Service.DurationInMinutes minutos
                                            </p>
                                            <p>
                                                <strong>Observação:</strong> @(schedule.Observation ?? "Não possui")
                                            </p>
                                            <p>
                                                <strong>Status:</strong>
                                                @(Enum.Parse<ESchedullingStatus>(schedule.Status).GetDisplayName())
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="@Url.Action("Update", "Schedule", new { id = schedule.Id })"
                                           class="btn btn-warning mb-2 d-flex align-items-center justify-content-center" style="border-radius: 10px;">
                                            <i class="fas fa-edit me-2"></i> Editar
                                        </a>
                                        <a href="@Url.Action("Cancel", "Schedule", new { id = schedule.Id })"
                                           class="btn btn-danger d-flex align-items-center justify-content-center" style="border-radius: 10px;">
                                            <i class="fas fa-trash me-2"></i> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="my-5">
            <!-- Filtro de Pesquisa -->
            <div class="container">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar agendamentos..."
                               aria-label="Pesquisar agendamentos" aria-describedby="search-addon" oninput="searchScheduling()">
                        <span class="input-group-text" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row" id="scheduleContainer">
                    <div class="col-lg-12">

                        @foreach (var schedule in Model)
                        {
                            <div class="card cart-card mb-3 schedule-card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        @if (string.IsNullOrEmpty(schedule.Animal.ImageUrl))
                                        {
                                            <img src="/Images/PetImage.jpg" alt="Animal" class="img-fluid me-4"
                                                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 5px"/>
                                        }
                                        else
                                        {
                                            <img src="/Images/@schedule.Animal.ImageUrl" alt="Animal" class="img-fluid me-4"
                                                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 5px"/>
                                        }

                                        <div>
                                            <h5 class="card-title">@schedule.Id - @schedule.Animal.Name</h5>
                                            <p class="card-text">
                                                <strong>Serviço:</strong> @schedule.Service.Name
                                            </p>
                                            <p class="card-text">
                                                <strong>Dono:</strong> @schedule.Animal.Owner.Name
                                            </p>
                                            <p class="card-text">
                                                <strong>CPF do dono:</strong> @schedule.Animal.Owner.Document.MaskCPF()
                                            </p>
                                            <p class="card-text">
                                                <strong>Funcionário:</strong> @schedule.Employee.Name
                                            </p>
                                            <p>
                                                <strong>Data:</strong> @schedule.Date.ToString("dd/MM/yyyy")
                                            </p>
                                            <p>
                                                <strong>Horário:</strong> @schedule.Time.ToString(@"hh\:mm")
                                            </p>
                                            <p>
                                                <strong>Duração:</strong> @schedule.Service.DurationInMinutes minutos
                                            </p>
                                            <p>
                                                <strong>Observação:</strong> @(schedule.Observation ?? "Não possui")
                                            </p>
                                            <p>
                                                <strong>Status:</strong>
                                                @(Enum.Parse<ESchedullingStatus>(schedule.Status).GetDisplayName())
                                            </p>
                                        </div>
                                    </div>

                                    @if (schedule.Status == ESchedullingStatus.Pending.ToString())
                                    {
                                        <div class="d-flex flex-column">

                                            <a href="@Url.Action("Finish", "Schedule", new { code = schedule.Code })"
                                               class="btn btn-success mb-2 d-flex align-items-center justify-content-center" style="border-radius: 10px;">
                                                <i class="bi bi-check-circle me-2"></i> Finalizar
                                            </a>

                                            <a href="@Url.Action("Update", "Schedule", new { id = schedule.Id })"
                                               class="btn btn-warning mb-2 d-flex align-items-center justify-content-center" style="border-radius: 10px;">
                                                <i class="fas fa-edit me-2"></i> Editar
                                            </a>
                                            <a href="@Url.Action("Cancel", "Schedule", new { code = schedule.Code })"
                                               class="btn btn-danger d-flex align-items-center justify-content-center" style="border-radius: 10px;">
                                                <i class="fas fa-trash me-2"></i> Cancelar
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
}
else
{
    <div class="container-fluid text-black py-3">
        <h2 class="text-center text-muted" style="font-size: 23px; font-weight: normal;">
            @TempData["NotFoundScheduling"]
        </h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-dark fw-normal shadow-none" asp-controller="Service" asp-action="Index">
            Novo Agendamento
        </a>
    </div>
}

<script>
    function searchScheduling() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toLowerCase();
        var scheduleContainer = document.getElementById("scheduleContainer");
        var scheduleCards = scheduleContainer.getElementsByClassName("schedule-card");

        for (var i = 0; i < scheduleCards.length; i++) {
            var animalName = scheduleCards[i].getElementsByClassName("card-title")[0];
            var serviceName = scheduleCards[i].getElementsByClassName("card-text")[0];
            var employeeName = scheduleCards[i].getElementsByClassName("card-text")[1];

            if (animalName || serviceName || employeeName) {
                var nameText = animalName.textContent || animalName.innerText;
                var serviceText = serviceName.textContent || serviceName.innerText;
                var employeeText = employeeName.textContent || employeeName.innerText;

                // Aplica o filtro apenas para nome do animal, nome do serviço e nome do funcionário
                if (nameText.toLowerCase().indexOf(filter) > -1 || serviceText.toLowerCase().indexOf(filter) > -1 || employeeText.toLowerCase().indexOf(filter) > -1) {
                    scheduleCards[i].style.display = "";
                } else {
                    scheduleCards[i].style.display = "none";
                }
            }
        }
    }
</script>