@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PetworldOficial.MVC.Models.Schedule.RegisterScheduleViewModel

@{
    Layout = "_LayoutCRUD";
}

<div class="container-fluid text-black py-3">
    <br>
    <h2 class="display-6 text-center fw">Agendamento de Serviços</h2>
    <br>
</div>

@if (!Model.Animals.Any())
{
    <div class="modal d-flex justify-content-center align-items-center" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="animalModalLabel">Informação Importante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você não possui um pet registrado! Para registrar um pet clique em continuar.</p>
                </div>
                <div class="modal-footer">
                    <a asp-controller="Schedule" asp-action="Index" class="btn btn-secondary shadow-none">Fechar</a>
                    <a asp-controller="Animal" asp-action="Register" class="btn btn-primary shadow-none">Continuar</a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modal = new bootstrap.Modal(document.getElementById('animalModal'));
            modal.show();
        });
    </script>
}

<div class="container">
    <form class="row g-3 d-flex justify-content-center align-items-center" asp-controller="Schedule" asp-action="Schedule" method="post">
        <input type="hidden" asp-for="@Model.ServiceId" value="@Model.Service!.Id">
       
        <div class="col-md-4">
            <label asp-for="@Model.Date" class="form-label">Data <span style="color: red;">*</span></label>
            <input asp-for="@Model.Date" id="date" class="form-control shadow-none" type="date" 
                   min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(20).ToString("yyyy-MM-dd")"required asp-format="{0:dd/mm/aaaa}">
        </div>
        
        <div class="col-md-4">
            <label asp-for="@Model.Time" class="form-label">Horário <span style="color: red;">*</span></label>
            <input asp-for="@Model.Time" id="time" class="form-control shadow-none" type="time" required>
        </div>
       
        <div class="col-md-8">
            <label asp-for="@Model.AnimalId" class="form-label">Pets<span style="color: red;">*</span></label>
            <select asp-for="@Model.AnimalId" class="form-select shadow-none" required>
                <option value="" selected disabled>Selecione um pet</option>
                @foreach (var animal in Model.Animals)
                {
                    <option value="@animal!.Id">@animal.Name</option>
                }
            </select>
        </div>
        
        <div class="col-md-8">
            <label asp-for="@Model.Service.Name"  class="form-label">Serviço <span style="color: red;">*</span></label>
            <input asp-for="@Model.Service.Name" class="form-control shadow-none" type="text" readonly>
        </div>
       
        <div class="col-md-8">
            <label asp-for="@Model.Service.Price" class="form-label">Price <span style="color: red;">*</span></label>
            <input asp-for="@Model.Service.Price" class="form-control shadow-none" type="text" required>
        </div>
       
        <div class="col-md-8">
            <label asp-for="@Model.Observation" class="form-label">Observation <span style="color: red;">*</span></label>
            <textarea asp-for="@Model.Observation" class="form-control shadow-none" placeholder="Escreva uma observação" style="height: 100px"></textarea>
        </div>
        <div class="col-md-5 d-grid gap-2 col-4 mx-auto">
            <br>
            <button class="btn btn-dark btn-lg shadow-none" type="submit">Cadastrar</button>
        </div>
    </form> 
</div>
<footer>

</footer>



